<h1>Chat</h1>

<dialog id="dialogo-chat" class="dialogo dialogo-chat">
  <button class="dialogo__btn-cierra" id="btn-cierra-dialogo-chat">X</button>
  <div class="container">
    <div class="chat-websocket">
      <h1>Bienvenido</h1>
      <div class="websocket-compresion"  id="websocket-compresion"></div>
      <div class="websocket-actions" id="websocket-actions"></div>
      <div class="websocket-controls" id="websocket-controls">
        <input id="user" type="email" placeholder="Usuario"/>
        <textarea name="message" id="message"cols="30" rows="10" placeholder="Mensaje"></textarea>
        <input id="sendMessage" type="button" value="Enviar"/>
      </div>
      <div class="websocket-messages" id="websocket-messages"></div>
    </div>
  </div>
</dialog>